<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flyaway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Flyawayservlet</display-name>
    <servlet-name>Flyawayservlet</servlet-name>
    <servlet-class>Flyawayservlet.Flyawayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Flyawayservlet</servlet-name>
    <url-pattern>/Flyawayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassengerDetails</display-name>
    <servlet-name>PassengerDetails</servlet-name>
    <servlet-class>Flyawayservlet.PassengerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerDetails</servlet-name>
    <url-pattern>/PassengerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Thankyou</display-name>
    <servlet-name>Thankyou</servlet-name>
    <servlet-class>Flyawayservlet.Thankyou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Thankyou</servlet-name>
    <url-pattern>/Thankyou</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>Flyawayservlet.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
</web-app>